* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: .4s;

}

button {
    border: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}

#header {
    width: 100%;
    background: #0a2b54;

}

.header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header_logo{
    width: 20%;
}


.header_logo  h1{
    color: #00e8ff;
}


.header nav a {
    font-size: 20px;
    margin: 0 15px;
    color: white;
}

.header nav a:hover {
    transform: scale(1.05);
    color: #ffd800;
}
/*  ------------burger-menu-------------------*/
.burger-menu{
    display: none;
    position: sticky;
    z-index: 100;
    top: 0;

}
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 110%;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 10px;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width:400px;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #1d4d80;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #0a2b54;
}
/*-------------/burger-menu---------------------------*/
@media(max-width: 992px) {
    .header{
        height: 100px;
        display: flex;
    }
    .header_logo{
        width: 50%;
    }
    .header nav{
        display: none;
    }
    .burger-menu{

        display: flow;

    }

}

#hero{
width: 100%;
    background: #070f1f;
    height: 100%;

}
.hero{
    padding: 20px;
}

.hero_general {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #101e2d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 100%;
}

.hero_general img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.hero_general p {
    font-size: 18px;
    margin-bottom: 25px;
    text-align: justify;
    color: #fcfcfc;
    letter-spacing: .5px;
    line-height: 1.8;
}

.hero_general ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 25px;
    padding-left: 20px;
    color: #b5b9b9;
}

.hero_general h2 {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 30px;
}

.hero_general strong {
    font-weight: bold;
    color: #00e8ff;
}


.hero_general blockquote {
    background-color: #002631;
    border-left: 15px solid  #00e8ff;;
    padding: 20px;
    margin: 30px 0;
    font-size: 20px;
    font-style: italic;
    color: #555;
}

.hero h1{
    text-align: center;
    font-size: 36px;

}
.hero_group{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #336fb2;

    width: 100%;
    max-width: 600px;
    margin: 40px auto;
border-radius: 20px;
   box-shadow:5px 10px 5px 5px #1d4d80;
}
.hero_text p{
    font-size: 18px;
    color: black;
    margin: 5px 0  20px  0;
    font-weight: 800;
}
.hero_text a{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #122149;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    border:  2px solid #111c56;
    font-weight: 900;

}
.hero_text a:hover{
    background: white;
    color: blue;

}
.hero_group img{
    width: 150px;
    height: 150px;
}